<!--chrome.exe --user-data-dir="C:\Users\konstank\Source" --disable-web-security-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <style>
        body {
            max-width ="800px";
            min-width ="400px";
        }

        .container {
            width: 100%;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <div data-bind="with: BeerRating">
                <p>Name</p>
                <input data-bind="value: BeerName" /></input>
                <p>Rating</p>
                <input data-bind="value: BeerRating" /></input>
            </div>
            <button data-bind="click: UpdateBeerByName">RateBeer</button>
        </div>

        <div>
            <div data-bind="with: Beer">
                <p>Name</p>
                <input data-bind="value: BeerName" /></input>
                <p>Type</p>
                <input data-bind="value: BeerType" /></input>
                <p>Rating</p>
                <input data-bind="value: BeerRating" /></input>
            </div>
            <button data-bind="click: SaveBeer">SaveBeer</button>
        </div>

        <button data-bind="click: GetAllBeers">GetAllBeers</button>
        <table>
            <thead><tr><td>Id:</td><td>Name:</td><td>Type:</td><td>Rating:</td></tr></thead>
            <tbody data-bind="foreach: AllBeers">
                <tr>
                    <td><p data-bind="text: BeerId"></p></td>
                    <td><p data-bind="text: BeerName"></p></td>
                    <td><p data-bind="text: BeerTypeName"></p></</td>
                    <td><p data-bind="text: BeerRating"></p></</td>
                </tr>
            </tbody>
        </table>

        <input data-bind="value: SearchText"></input>
        <button data-bind="click: SearchBeer">SearchBeers</button>

        <table>
            <thead><tr><td>Id:</td><td>Name:</td><td>Type:</td><td>Rating:</td></tr></thead>
            <tbody data-bind="foreach: SearchBeers">
                <tr>
                    <td><p data-bind="text: BeerId"></p></td>
                    <td><p data-bind="text: BeerName"></p></td>
                    <td><p data-bind="text: BeerTypeName"></p></</td>
                    <td><p data-bind="text: BeerRating"></p></</td>
                </tr>
            </tbody>
        </table>

        <script type="text/javascript">

            function BeerClass(BeerName, BeerType) {
                var self = this;
                self.BeerName = BeerName;
                self.BeerType = BeerType;
                self.BeerRating = null;
            };


            function BeerRatingClass(BeerName, BeerRating) {
                var self = this;
                self.BeerName = BeerName;
                self.BeerRating = BeerRating;
            };

			function BeerItViewModel()
			{
			    //var WebApiUri = "http://localhost:51325";
			    var WebApiUri = "";
			    var self = this;
			    self.SearchText = ko.observable();
			    self.AllBeers = ko.observable();
			    self.SearchBeers = ko.observable();
			    self.Beer = ko.observable();
			    self.BeerRating = ko.observable();

			    self.BeerRating = new BeerRatingClass("Chimay", 0);

			    self.Beer = new BeerClass('Chimay','grand cru');

				self.GetAllBeers = function()
				{
				    $.get(WebApiUri +"/api/Beers/GetAll", null, self.AllBeers);
				};

				self.SearchBeer = function ()
				{
				    $.get(WebApiUri + "/api/Beers/Search/" + self.SearchText(), null, self.SearchBeers);
				};

				self.SaveBeer = function ()
				{
				    $.ajax(WebApiUri + "/api/Beers/Save/",
                    {
				        data: ko.toJSON( self.Beer ),
				        type: "post", contentType: "application/json",
				        success: function (result) { alert(result) }
				    });
				};

				self.UpdateBeerByName = function () {
				    $.ajax(WebApiUri + "/api/Beers/Rate/",
                    {
                        data: ko.toJSON(self.BeerRating),
                        type: "put", contentType: "application/json",
                        success: function (result) { alert(result) }
                    });
				};
			};

			ko.applyBindings(new BeerItViewModel());
        </script>
    </div>
</body>
</html>
